{% if model.work | length %}

    <section class="section">
        <header>
            <h2 class='section-title'>Work Experience <span class="item-count">({{ model.work | length }})</span></h2>
        </header>

        <section id="work">
            {% for work in model.work %}
                <section class="work-item">
                    {% if work.summary %}
                        <label for="work-item-{{ loop.index }}"></label>
                    {% endif %}

                    <header class="clear">
                        <div class="date">
                            {% if work.duration.start_date %}
                                <span class="startDate">
                                    {{ work.duration.start_date.month }} - {{ work.duration.start_date.year }}
                                </span>
                            {% endif %}

                            {% if work.duration.end_date %}
                                <span class="endDate">
                                    - {{ work.duration.end_date.month }} - {{ work.duration.end_date.year }}
                                </span>
                            {% else %}
                                <span class="endDate">- Current</span>
                            {% endif %}
                        </div>

                        {% if work.position %}
                            <div class="position">{{ work.position }}</div>
                        {% endif %}

                        {% if work.url %}
                            <span class="company">
                        <a target="_blank" href="{{ work.url }}">{{ work.name }}</a>
                    </span>
                        {% else %}
                            <div class="company">{{ work.name }}</div>
                        {% endif %}
                    </header>

                    {% if work.url %}
                        <span class="url">
                    <span class="fas fa-external-link-alt"></span>
                    <a target="_blank" href="{{ work.url }}">{{ work.url }}</a>
                </span>
                    {% endif %}

                    <div class="item" id="work-item">
                        {% if work.summary %}
                            <div class="summary">{{ work.summary }}</div>
                        {% endif %}

                        {% if work.highlights | length %}
                            <ul class="highlights">
                                {% for highlight in work.highlights %}
                                    <li>{{ highlight }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </section>
            {% endfor %}
        </section>
    </section>
{% endif %}
