{% if model.awards | length %}
    <div class="container awards-container">
        {% with value='Awards' %}
            {% include 'partials/title.j2' %}
        {% endwith %}

        {% for award in model.awards %}
            <section class="item">
                {% with name=award.title %}
                    {% include 'partials/section_header.j2' %}
                {% endwith %}

                {% if award.issuer %}
                    <h5 class="awarder">{{ award.issuer }}</h5>
                {% endif %}

                <p class="summary">{{ award.summary }}</p>
            </section>
        {% endfor %}
    </div>
{% endif %}