{% if model.education | length %}
    <div class="container education-container">
        {% with value='Education' %}
            {% include 'partials/title.j2' %}
        {% endwith %}
        {% for education in model.education %}
            <section class="item">
                {% with name=education.institution, url=education.url, show_url=True, start_date=education.duration.start_date, end_date=education.duration.end_date %}
                    {% include 'partials/section_header.j2' %}
                {% endwith %}

                <h4>{{ education.study_type }} {{ education.area }}</h4>

                {% if education.score %}
                    <h5>{{ education.score }}</h5>
                {% endif %}

                {% if education.courses | length %}
                    <ul class="two-column">
                        {% for course in education.courses %}
                            <li>{{ course }}</li>

                        {% endfor %}
                    </ul>
                {% endif %}
            </section>
        {% endfor %}
    </div>
{% endif %}
