{% if model.languages | length %}
    <div class="container languages-container">
        {% with value='Languages' %}
            {% include 'partials/tittle.j2' %}
        {% endwith %}

        <ul class="minimal">
            {% for language in model.languages %}
                <li>
                    <h6>{{ language.language }} {% if language.fluency %}<em>({{ language.fluency }})</em>{% endif %}
                    </h6>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endif %}