{% if model.projects | length %}
    <div class="container project-container">
        {% with value='Open Source Projects' %}
            {% include 'partials/tittle.j2' %}
        {% endwith %}

        {% for project in model.projects %}
            <section class="item">
                {% with name=project.name, url=project.url, show_url=True, start_date=project.duration.start_date, end_date=project.duration.end_date %}
                    {% include 'partials/section_header.j2' %}
                {% endwith %}

                <p class="summary">{{ project.summary }}</p>

                {% if project.highlights | length %}
                    <ul>
                        {% for highlight in project.highlights %}
                            <li>{{ highlight }}</li>

                        {% endfor %}
                    </ul>
                {% endif %}
            </section>
        {% endfor %}
    </div>
{% endif %}
