<header class="resume-header clearfix">
    <div class="profile-header pull-left">
        <h1>{{model.personal_info.name}}</h1>
        <h2>{{model.personal_info.label}}</h2>
    </div>
    <div class="profile-pic pull-right">
        <img src="{{model.personal_info.image}}" alt="profile-pic">
    </div>
</header>