<div class="section-header clearfix">
    {% if name %}
        <h3 class="bold pull-left">
            {% if url %}
                <a href="{{ url }}" target="_blank">
                    {{ name }}
                    {% if show_url %}
                        <span class="sublink">∙ <a href="{{ url }}" target="_blank"
                                                   class="sublink">{{ url }}</a></span>
                    {% endif %}
                </a>
            {% else %}
                {{ name }}
            {% endif %}
        </h3>
    {% endif %}

    <h5 class="italic pull-right">
        {% if start_date %}
            <span class="startDate">{% if start_date.day %}
                {{ start_date.day }}
            {% endif %} {{ start_date.month }} {{ start_date.year }}</span>
            {% if end_date %}
                <span class="endDate"> - {% if end_date.day %}
                    {{ end_date.day }}
                {% endif %} {{ end_date.month }} {{ end_date.year }}</span>
            {% else %}
                <span class="endDate"> - Present</span>
            {% endif %}
        {% elif release_date %}
            {{ release_date }}
        {% endif %}
    </h5>
</div>
{% if description %}
    <h4>
        {{ description }}
    </h4>
{% endif %}