{% if  model.skills | length %}
    <div class="skills-container">
        {% for skill in model.skills %}
            <section class="container">
                {% with value=skill.name %}
                    {% include 'partials/tittle.j2' %}
                {% endwith %}

                <h4 class="bold capitalize">{{ skill.level }}</h4>

                {% if skill.keywords | length %}
                    <div class="minimal flex-container">
                        {% for keyword in skill.keywords %}
                            <h6 class="main-skill skill">{{ keyword }}</h6>
                        {% endfor %}
                    </div>
                {% endif %}
            </section>
        {% endfor %}
    </div>
{% endif %}