<div class="container summary-container">
    {% with value='Summary' %}
    	{% include 'partials/title.j2' %}
    {% endwith %}
    <p class="summary">
        {{ model.personal_info.summary }}
    </p>
</div>