<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Resume of {{ model.personal_info.name }}</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" rel="stylesheet">

    <style>
        {{ style }}
    </style>

    <style media="print">
        {{ print_style }}
    </style>
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div id="photo-header" class="text-center">
                <!-- PHOTO (AVATAR) -->
                {% if model.personal_info.image %}
                    <div id="photo">
                        <img src="{{ model.personal_info.image }}" alt="avatar">
                    </div>
                {% endif %}
                <div id="text-header" {% if model.personal_info.image %}style="margin-top: 90px;"{% endif %}>
                    <h1>
                        {{ model.personal_info.name }}<br> <span>{{ model.personal_info.label }}</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <!-- ABOUT ME -->
            <div class="box">
                <h2><i class="fas fa-user ico"></i> About</h2>
                <p>{{ model.personal_info.summary }}</p>
            </div>

            <!-- WORK EXPERIENCE -->
            {% if model.works | length %}
                <div class="box">
                    <h2><i class="fas fa-suitcase ico"></i> Work Experience</h2>
                    {% for work in model.works %}
                        <div class="job clearfix">
                            <div class="row">
                                <div class="details">
                                    <div class="where">
                                        {{ work.name }}
                                    </div>
                                    {% if work.url %}
                                        <div class="address">
                                            <a href="{{ work.url }}" target="_blank"><i
                                                    class="fas fa-globe ico"></i> {{ work.url }}
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="year">
                                        {{ work.duration.start_date.month }} {{ work.duration.start_date.year }} -
                                        {% if work.duration.end_date %}
                                            {{ work.duration.end_date.month }} {{ work.duration.end_date.year }}
                                        {% else %}
                                            present
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="job-details col-xs-11">
                                    <div class="profession">{{ work.position }}</div>
                                    <div class="description">
                                        {{ work.summary }}
                                        {% if work.highlights | length %}
                                            <div class="highlights">Highlights</div>
                                            <ul class="list-group">
                                                {% for highlight in work.highlights %}
                                                    <li class="list-group-item">{{ highlight }}</li>
                                                {% endfor %}

                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- AWARDS -->
            {% if model.awards %}
                <div class="box">
                    <h2><i class="fas fa-certificate ico"></i> Awards</h2>
                    <ul id="awards" class="clearfix">
                        {% for award in model.awards %}
                            <li>
                                <div class="year pull-left">{{ award.date.month }} {{ award.date.year }}</div>
                                <div class="description pull-right">
                                    <h3>{{ award.issuer }}</h3>
                                    <p><i class="fas fa-trophy ico"></i> {{ award.title }}</p>
                                    <p>{{ award.summary }}</p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}



            <!-- VOLUNTEER -->
            {% if model.volunteer | length %}
                <div class="box">
                    <h2><i class="fas fa-users ico"></i> Volunteer</h2>
                    {% for volunteer in model.volunteer %}
                        <div class="job clearfix">
                            <div class="row">
                                <div class="details">
                                    <div class="where">{{ volunteer.organization }}</div>
                                    <div class="address">
                                        <a href="{{ volunteer.url }}" target="_blank"><i
                                                class="fas fa-globe ico"></i> {{ volunteer.url }}
                                        </a>
                                    </div>
                                    <div class="year">
                                        {{ volunteer.duration.start_date.month }} {{ volunteer.duration.start_date.year }}
                                        -
                                        {% if volunteer.duration.end_date %}
                                            {{ volunteer.duration.end_date.month }}
                                            {{ volunteer.duration.end_date.year }}
                                        {% else %}
                                            present
                                        {% endif %}</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="job-details col-xs-11">
                                    <div class="profession">{{ volunteer.position }}</div>
                                    <div class="description">
                                        {{ volunteer.summary }}
                                        {% if volunteer.highlights | length %}
                                            <div class="highlights">Highlights</div>
                                            <ul class="list-group">
                                                {% for highlight in volunteer.highlights %}
                                                    <li class="list-group-item">{{ highlight }}</li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- PROJECTS -->
            {% if model.projects | length %}
                <div class="box">
                    <h2><i class="fas fa-code-branch ico"></i> Projects</h2>
                    <ul class="list-group">
                        {% for project in model.projects %}
                            <li class="list-group-item">
                                <span style="font-weight:bold">{{ project.name }}</span>: {{ project.description }}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-5">
            <!-- CONTACT -->
            <div class="box clearfix">
                <h2><i class="fas fa-bullseye ico"></i> Contact</h2>
                <div class="contact-item">
                    <div class="icon pull-left text-center"><span class="fas fa-map-marker fa-fw"></span></div>
                    <div class="title pull-right">{{ model.personal_info.location.address }}</div>
                    <div class="title pull-right">
                        {{ model.personal_info.location.city }}
                        {{ model.personal_info.location.region }}
                        {{ model.personal_info.location.postalCode }}
                        {{ model.personal_info.location.countryCode }}
                    </div>
                </div>

                <div class="contact-item">
                    <div class="icon pull-left text-center"><span class="fas fa-phone fa-fw"></span></div>
                    <div class="title only pull-right">{{ model.personal_info.phone }}</div>
                </div>

                <div class="contact-item">
                    <div class="icon pull-left text-center"><span class="fas fa-envelope fa-fw"></span></div>
                    <div class="title only pull-right"><a href="mailto:{{ model.personal_info.email }}"
                                                          target="_blank">{{ model.personal_info.email }}</a></div>
                </div>

                <div class="contact-item">
                    <div class="icon pull-left text-center"><span class="fas fa-globe fa-fw"></span></div>
                    <div class="title only pull-right"><a href="{{ model.personal_info.url }}"
                                                          target="_blank">{{ model.personal_info.url }}</a>
                    </div>
                </div>

                {% for profile in model.personal_info.profiles %}
                    <div class="contact-item">
                        <div class="icon pull-left text-center"><span class="{{ profile.icon_class }} fa-fw"></span>
                        </div>
                        <div class="title pull-right">{{ profile.network }}</div>
                        <div class="description pull-right">
                            <a href="{{ profile.url }}" target="_blank">
                                {{ profile.username if profile.username else profile.url }}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <!-- EDUCATION -->
            {% if model.education | length %}
                <div class="box">
                    <h2><i class="fas fa-university ico"></i> Education</h2>
                    <ul id="education" class="clearfix">
                        {% for education in model.education %}
                            <li>
                                <div class="year pull-left">{{ education.duration.start_date.year }} {{ education.duration.end_date.year if education.duration.end_date else 'present' }}</div>
                                <div class="description pull-right">
                                    <h3>{{ education.institution }}</h3>
                                    <div class="where">{{ education.organization }}</div>
                                    <div class="address">
                                        <a href="{{ education.url }}" target="_blank"><i
                                                class="fas fa-globe ico"></i> {{ education.url }}
                                        </a>
                                    </div>
                                    <p><i class="fas fa-graduation-cap ico"></i> {{ education.studyType }}</p>
                                    <p>{{ education.area }}</p>
                                    {% if education.score %}
                                        <p>
                                            Grade: {{ education.score }}
                                        </p>
                                    {% endif %}
                                    {% if education.courses %}
                                        <div>Courses</div>
                                        <ul class="list-group">
                                            {% for course in education.courses %}
                                                <li class="list-group-item">{{ course }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <!-- SKILLS -->
            {% if model.skills | length %}
                <div class="box">
                    <h2><i class="fas fa-tasks ico"></i> Skills</h2>
                    {% for skill in model.skills %}
                        <div class="skills clearfix">
                            <div class="item-skills">
                                {{ skill.name }}
                                <span class="skill-level">{{ skill.level }}</span>
                            </div>
                            <div class="col-sm-offset-1 col-sm-12 clearfix">
                                {% for keyword in skill.keywords %}
                                    <span class="skill badge">{{ keyword }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            <!-- PUBLICATIONS -->

            {% if model.publications | length %}

                <div class="box">
                    <h2><i class="fas fa-book ico"></i> Publications</h2>
                    {% for publication in model.publications %}
                        <div class="publication panel panel-default">
                            <div class="panel-heading">
                                <div class="name panel-title">{{ publication.name }}</div>
                            </div>
                            <div class="panel-body">
                                <div class="publisher"><i class="fas fa-bookmark ico"></i> {{ publication.publisher }}
                                </div>
                                <div class="year">{{ publication.date.day }} {{ publication.date.month }} {{ publication.date.year }}</div>
                                <div class="address">
                                    <a href="{{ publication.url }}" target="_blank"><i
                                            class="fas fa-globe ico"></i> {{ publication.url }}</a>
                                </div>
                                <p>{{ publication.summary }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% if model.languages %}
                <!-- LANGUAGES -->
                <div class="box">
                    <h2><i class="fas fa-language ico"></i> Languages</h2>
                    <ul class="list-group">
                        {% for language in model.languages %}
                            <li class=" list-group-item">{{ language.language }}<span
                                    class="skill badge pull-right">{{ language.fluency }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% if model.interests %}

                <!-- HOBBIES -->
                <div class="box">
                    <h2><i class="fas fa-heart ico"></i> Interests</h2>
                    {% for interest in model.interests %}
                        <div class="interests clearfix">
                            <div class="item-interests">
                                {{ interest.name }}
                            </div>
                            <div class="col-sm-offset-1 col-sm-12 clearfix">
                                {% for keyword in interest.keywords %}
                                    <span class="interest badge">{{ keyword }}</span>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}

                </div>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>