<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
  <title>{{model.personal_info.name}}</title>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <style>
      {{ style }}
  </style>
</head>

<body>
  <main id="resume" class="page">
      {% include 'partials/resume_header.j2' %}
    <div class="resume-content">
      <aside class="left-column">
        {% include 'partials/about.j2' %}
        {% include 'partials/skills.j2' %}
        {% include 'partials/languages.j2' %}
        {% include 'partials/interests.j2' %}
      </aside>
      <div class="right-column">
        {% include 'partials/summary.j2' %}
        {% include 'partials/work.j2' %}
        {% include 'partials/projects.j2' %}
        {% include 'partials/education.j2' %}
        {% include 'partials/volunteer.j2' %}
        {% include 'partials/awards.j2' %}
        {% include 'partials/publications.j2' %}
      </div>
    </div>
  </main>
</body>

</html>